.chat-list {
    height: 100%;
    background-color: $clr1;
    border-right: 1px solid $clr2;
    display: flex;
    flex-direction: column;

    .user-info {
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: $clr4;
        justify-content: space-between;
        position: relative;


        .open-menu{

            cursor: pointer;

            svg{
                color: $clr6;
                font-size: 30px;
            }
        }

        img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
        }

        span {
            color: $clr6;
            margin-left: 10px;
        }

        .menu{
            position: absolute;
            top: 50px;
            right: 10px;
            background-color: $clr1;
            width: 200px;
            text-align: center;
            color: $clr6;
            border-radius: 3px;
            border: 1px solid $clr2;
            display: flex;
            flex-direction: column;

            


            div{
                cursor: pointer;
                width: 100%;
                z-index: 1;

                span{
                    margin: 0;
                }
            }

            div:not(:first-child){
                border-top: 1px solid $clr2;
            }


            &.close{
                display: none;
            }
        }

    }

    .input-container {

        position: relative;
        border-bottom: 1px solid $clr2;
        display: flex;
        justify-content: center;

        .icon-container {
            position: absolute;
            left: 38px;
            top: 27px;
            transition: all .3s ease;

            svg {
                color: #828689;
            }

        }

        input {
            width: 90%;
            background-color: $clr4;
            border: none;
            padding: 10px 50px;
            border-radius: 50px;
            margin-bottom: 20px;
            margin-top: 20px;
            color: $clr6;
            font-size: 15px;
        }

    }
    
    .chats{
        height: 100%;
        overflow-y: scroll;

    }

    ::-webkit-scrollbar {
        width: 7px;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.281);
    }

    ::-webkit-scrollbar-button {
        background: transparent;
        height: 5px;
    }

    @media(min-width:900px) {
        min-width: 400px;
    }

}





@media(max-width:900px) {
    .chat-list {

        height: 100%;


        width: 100%;

        .user-info {
            width: 100%;
        }


        &.close {
            display: none;
        }

        .input-container input {
            width: 90%;
        }
    }
}

