.features {
    text-align: center;

    

    p{
        color: $clr1;
        max-width: 100%;
        padding:0 50px;
    }
    h2{
        color: $clr1;
        font-family: montserrat;
        font-size: 2rem;
        padding:40px 0;
        margin-bottom: 0;
    }
    
    h3{
        color: $clr1;
        font-family: montserrat;
        font-size: 1.5rem;
    }

    .bright {
        background-color: $clr6;
        padding: 30px 0;
    }
    
    .dark {
        padding: 30px 0;
        background-color: $allC;
    }
}