.templates {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $clr6;

    .main-container {
        flex-grow: 1;

        .carousel-container {
            margin-top: 150px;
            position: relative;

            .template-preview:nth-child(1) {
                top: -50px;
                position: absolute;
                left: 0;
                width: 400px;
                height: 320px;

                @media (max-width:1000px) {
                    width: 320px;
                    height: 256px;
                }

                @media (max-width:760px) {
                    width: 150px;
                    height: 120px;
                }

                @media (max-width:460px) {
                    width: 120px;
                    height: 96px;
                }
                
                .btns {
                    display: none;
                }
            }
            
            .template-preview:nth-child(2) {
                position: relative;
                z-index: 2;
                margin: 0 auto;
                
                .arrow {
                    display: none;
                }
            }
            
            .template-preview:nth-child(3) {
                width: 400px;
                height: 320px;
                
                @media (max-width:1000px) {
                    width: 320px;
                    height: 256px;
                }
                
                @media (max-width:760px) {
                    width: 150px;
                    height: 120px;
                }

                @media (max-width:460px) {
                    width: 120px;
                    height: 96px;
                }

                

                top: -50px;
                right: 0;
                position: absolute;

                .btns {
                    display: none;
                }
            }


            .template-preview {
                width: 500px;
                height: 400px;
                transition: .3s;

                @media (max-width:1000px) {
                    width: 375px;
                    height: 300px;
                }

                @media (max-width:760px) {
                    width: 250px;
                    height: 200px;
                }

                @media (max-width:460px) {
                    width: 150px;
                    height: 120px;
                }


                .arrow {
                    width: 100%;
                    height: 100%;
                    transition: .3s;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #eeeeee5d;
                    cursor: pointer;

                    svg {
                        font-size: 60px;
                        color: $clr1;
                    }
                }


                .btns {
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: .3s;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    button {
                        margin: 0 10px;
                        font-size: 30px;
                        text-transform: capitalize;
                        font-weight: 700;
                        background-color: #ffffffaa;
                        color: $clr1;
                        border: 1px solid $clr1;
                        cursor: pointer;
                    }

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        .dots-container {

            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 30px;


            div {
                width: 10px;
                height: 10px;
                margin: 3px;
                border-radius: 50%;
                background-color: $allB;
                cursor: pointer;

                &.curr {
                    background-color: $all5;

                }
            }
        }
    }
}