// Colors
$clr1: #131c21;
$clr2: #262d31;
$clr3: #11181c;
$clr4: #323739;
$clr5: #9fa2a5;
$clr6: #dfe0e1;
$clr7: #2d3134;
$clr8: #056162;
$clr9:#222f37;

$allA:#aaa;
$allB:#bbb;
$allC:#ccc;
$allD:#ddd;
$allE:#eee;

$all1:#111;
$all2:#222;
$all3:#333;
$all4:#444;
$all5:#555;
$all6:#666;
$all7:#777;
$all8:#888;
$all9:#999;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;